<html }}"="" en_us"="" lang="{{ page.lang | default: site.lang | default: "><head>
<meta http-equiv="content-type" content="text/html; charset=GBK"></head><body class="site">---
layout: compress
---


  {% include head.html %}

  

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{site.url}}/assets/img/posts/sleek_lg.jpg">
      <div class="hero__wrap">
        <h1 class="hero__title">Noyllopa</h1>
        <p class="hero__meta">Thoughts on something.</p>
      </div>
    </div>

    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  


<div data-weel-translate=""><div class="weel-fab"><button style="display: none;"><i class="weel-svg-icons -weel-translate -icon"></i></button> <!----></div> <div class="weel-fap"><div style="display: none;"><input class="-copyTmp"> <div class="-phonetic"><button class="-js"><i class="weel-svg-icons -volume-high -icon"></i></button>
            ...      
          </div> <div class="-phonetic"><button class="-js"><i class="weel-svg-icons -volume-high -icon"></i></button>
            ...
          </div> <div class="-translation"><button class="-js -copy"><i class="weel-svg-icons -content-copy -icon"></i></button>
            
          </div> <div class="-explain" style="display: none;"><pre></pre></div></div></div></div></body></html>
